---
import BaseLayout from "src/layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
import Landing from "@components/Landing.astro";
---

<BaseLayout
  title="Projecten"
  description="Meta beschrijving voor de pagina"
>
  <!-- ============================================ -->
  <!--                    LANDING                   -->
  <!-- ============================================ -->

  <Landing 
    title="Alle projecten"
  />

  <!-- ============================================ -->
  <!--                   Galerij                    -->
  <!-- ============================================ -->

  <section id="gallery">
    <div class="cs-container">
      <div class="cs-image-group">
        <!-- Rij 1-->
        <div class="cs-row cs-row-1">
          <picture class="cs-picture cs-picture1">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/portfolio/port1-m.jpg"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/portfolio/port1.jpg"
            />
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/images/portfolio/port1.jpg"
              alt="nieuwe gang"
              loading="lazy"
              width="400"
              height="560"
            />
          </picture>
          <picture class="cs-picture cs-picture2">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/portfolio/port4-m.jpg"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/portfolio/port4.jpg"
            />
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/images/portfolio/port4.jpg"
              alt="nieuwbouw woning"
              loading="lazy"
              width="400"
              height="560"
            />
          </picture>
          <picture class="cs-picture cs-picture3">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/portfolio/port7-m.jpg"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/portfolio/port7.jpg"
            />
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/images/portfolio/port7.jpg"
              alt="bouwen van een nieuwe muur"
              loading="lazy"
              width="400"
              height="560"
            />
          </picture>
          <!-- Om meer afbeeldingen toe te voegen, kopieer en plak de picture tags van deze rij hier in volgorde van cs-picture-1 tot cs-picture-3 en ze behouden dezelfde lay-out -->
        </div>
        <!-- Rij 2 -->
        <div class="cs-row cs-row-2">
          <picture class="cs-picture cs-picture1">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/portfolio/port2-m.jpg"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/portfolio/port2.jpg"
            />
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/images/portfolio/port2.jpg"
              alt="nieuwe keuken"
              loading="lazy"
              width="400"
              height="560"
            />
          </picture>
          <picture class="cs-picture cs-picture2">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/portfolio/port5-m.jpg"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/portfolio/port5.jpg"
            />
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/images/portfolio/port5.jpg"
              alt="appartement uitbreiding"
              loading="lazy"
              width="400"
              height="560"
            />
          </picture>
          <picture class="cs-picture cs-picture3">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/portfolio/port8-m.jpg"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/portfolio/port8.jpg"
            />
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/images/portfolio/port8.jpg"
              alt="nieuwe keukenkasten"
              loading="lazy"
              width="400"
              height="560"
            />
          </picture>
          <!-- Om meer afbeeldingen toe te voegen, kopieer en plak de picture tags van deze rij hier in volgorde van cs-picture-1 tot cs-picture-3 en ze behouden dezelfde lay-out -->
        </div>
        <!-- Rij 3 -->
        <div class="cs-row cs-row-3">
          <picture class="cs-picture cs-picture1">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/portfolio/port3-m.jpg"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/portfolio/port3.jpg"
            />
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/images/portfolio/port3.jpg"
              alt="nieuwe keuken"
              loading="lazy"
              width="400"
              height="560"
            />
          </picture>
          <picture class="cs-picture cs-picture2">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/portfolio/port6-m.jpg"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/portfolio/port6.jpg"
            />
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/images/portfolio/port6.jpg"
              alt="appartement uitbreiding"
              loading="lazy"
              width="400"
              height="560"
            />
          </picture>
          <picture class="cs-picture cs-picture3">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/portfolio/port9-m.jpg"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/portfolio/port9.jpg"
            />
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/images/portfolio/port9.jpg"
              alt="nieuwe keukenkasten"
              loading="lazy"
              width="400"
              height="560"
            />
          </picture>

          <!-- Om meer afbeeldingen toe te voegen, kopieer en plak de picture tags van deze rij hier in volgorde van cs-picture-1 tot cs-picture-3 en ze behouden dezelfde lay-out -->
        </div>
      </div>
      <a href="/contact" class="cs-button-solid">Vraag een Gratis Offerte Aan</a>
    </div>
  </section>
  <CTA />
</BaseLayout>

<style lang="less">
  /* PAGINA-SPECIFIEKE STIJLEN VOOR DE PROJECTEN PAGINA */

  /*-- -------------------------- -->
<---          Galerij           -->
<--- -------------------------- -*/

  /* Mobiel - 360px - Bevat hover animatie */
  @media only screen and (min-width: 0em) {
    #gallery {
      /* Centreert knop */
      text-align: center;
      padding: var(--sectionPadding);
      position: relative;
      /* Voorkomt overflow van de afbeelding die buiten het scherm gaat */
      overflow: hidden;
      .cs-container {
        width: 100%;
        max-width: (1322/16em);
        margin: auto;
      }

      .cs-image-group {
        /* gebruikt rem zodat het niet schaalt met de lettergrootte van de ouder */
        font-size: ~"min(1.1vw, 1em)";
        width: 100%;
        max-width: (1322/16em);
        margin: 0 auto (60/16rem);
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: (30/16em);
      }

      .cs-row {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: (30/16em);
      }

      .cs-picture {
        display: block;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .cs-row-1 {
        .cs-picture1 {
          width: (420/16em);
          height: (567/16em);
        }

        .cs-picture2 {
          width: (420/16em);
          height: (629/16em);
        }

        .cs-picture3 {
          width: (420/16em);
          height: (512/16em);
        }
      }

      .cs-row-2 {
        .cs-picture1 {
          width: (420/16em);
          height: (492/16em);
        }

        .cs-picture2 {
          width: (420/16em);
          height: (517/16em);
        }

        .cs-picture3 {
          width: (420/16em);
          height: (629/16em);
        }
      }

      .cs-row-3 {
        .cs-picture1 {
          width: (420/16em);
          height: (625/16em);
        }

        .cs-picture2 {
          width: (420/16em);
          height: (452/16em);
        }

        .cs-picture3 {
          width: (420/16em);
          height: (629/16em);
        }
      }
    }
  }
</style>
